@{
    ViewData["Title"] = "Kapcsolat";
}

<div class="body-container">
    <div class="body-title">Kapcsolat</div>
    <div class="body-context">
        <p>
            <address>
                Borbás Tibor<br />
                Neptun kód: YEDUCO
                5000 Szolnok<br />
                Puskás Tivadar krt. 21. 3/2.<br />
                <abbr title="Phone"><strong>Telefon:</strong></abbr>
                +36 30 / 625-5456
            </address>

            <address>
                <strong>Email:</strong> <a href="mailto:borbi.tibor@outlook.hu">borbi.tibor@outlook.hu</a>
                <br />
            </address>
        </p>
    </div>
</div>