@model WebDiszpecser.Models.Gepjarmu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gepjarmu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipus" class="control-label"></label>
                <input asp-for="Tipus" class="form-control" />
                <span asp-validation-for="Tipus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rendszam" class="control-label"></label>
                <input asp-for="Rendszam" class="form-control" />
                <span asp-validation-for="Rendszam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FutottKm" class="control-label"></label>
                <input asp-for="FutottKm" class="form-control" />
                <span asp-validation-for="FutottKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SzervizCiklus" class="control-label"></label>
                <input asp-for="SzervizCiklus" class="form-control" />
                <span asp-validation-for="SzervizCiklus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtolsoSzerviz" class="control-label"></label>
                <input asp-for="UtolsoSzerviz" class="form-control" />
                <span asp-validation-for="UtolsoSzerviz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategoria" class="control-label"></label>
                <input asp-for="Kategoria" class="form-control" />
                <span asp-validation-for="Kategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephelyID" class="control-label"></label>
                <select asp-for="TelephelyID" class ="form-control" asp-items="ViewBag.TelephelyID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
