@model WebDiszpecser.Models.Fuvar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Fuvar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FuvarID" />
            <div class="form-group">
                <label asp-for="Feladat" class="control-label"></label>
                <input asp-for="Feladat" class="form-control" />
                <span asp-validation-for="Feladat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndulasIdeje" class="control-label"></label>
                <input asp-for="IndulasIdeje" class="form-control" />
                <span asp-validation-for="IndulasIdeje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BerakoCim" class="control-label"></label>
                <input asp-for="BerakoCim" class="form-control" />
                <span asp-validation-for="BerakoCim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KirakoCim" class="control-label"></label>
                <input asp-for="KirakoCim" class="form-control" />
                <span asp-validation-for="KirakoCim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GepjarmuID" class="control-label"></label>
                <select asp-for="GepjarmuID" class="form-control" asp-items="ViewBag.GepjarmuID"></select>
                <span asp-validation-for="GepjarmuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoforID" class="control-label"></label>
                <select asp-for="SoforID" class="form-control" asp-items="ViewBag.SoforID"></select>
                <span asp-validation-for="SoforID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
